.u-section-1 .u-sheet-1 {
  min-height: 889px;
}

.u-section-1 .u-image-1 {
  width: 519px;
  height: 548px;
  margin: 156px 67px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 458px;
  min-height: 685px;
  margin: -620px auto 0 145px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 30px 25px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline !important;
  margin: 30px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 29px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  margin: 20px 0 0 -25px;
}

.u-section-1 .u-text-4 {
  line-height: 1.4;
  letter-spacing: 0px;
  background-image: none;
  font-style: italic;
  font-weight: 700;
  margin: -110px 67px 0 839px;
}

.u-section-1 .u-text-5 {
  font-size: 0.75rem;
  margin: 48px 67px 25px 685px;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 424px;
    height: 547px;
    margin-top: 332px;
    margin-right: 46px;
  }

  .u-section-1 .u-group-1 {
    width: 388px;
    margin-top: -809px;
    margin-left: 46px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 400;
    font-size: 3.5625rem;
    color: rgb(222, 84, 15) !important;
  }

  .u-section-1 .u-text-4 {
    margin-top: 353px;
    margin-left: 547px;
    margin-right: 182px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 552px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 477px;
    height: 545px;
    margin-top: 227px;
    margin-right: auto;
    margin-left: 46px;
  }

  .u-section-1 .u-group-1 {
    width: 477px;
    margin-top: -630px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 410px;
    margin-right: 137px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 448px;
    margin-top: 327px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 448px;
    margin-top: -730px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 323px;
    margin-right: 108px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-1 .u-image-1 {
    width: 280px;
    height: 414px;
    margin-top: 993px;
  }

  .u-section-1 .u-group-1 {
    width: 280px;
    margin-top: -1251px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 66px;
    margin-left: 199px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 619px;
}

.u-section-2 .u-image-1 {
  width: 457px;
  height: 437px;
  filter: brightness(0.55);
  margin: 91px auto 0 51px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 563px;
  margin: -485px 146px 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 462px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 19px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 11px auto 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 17px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-text-2 {
    margin-right: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 103px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 325px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -373px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 25px;
  }
}